<footer class="footer-area">
    <div class="footer-top pt-65 pb-25">
        <div class="container">
            <div class="footer-newsletter-wrap footer-newsletter-two">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6">
                        <div class="newsletter-title">
                            <h4>Subscribe Now !</h4>
                            <span>MxxShop By Signing Up To Our Newsletter.</span>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Enter Your Email....">
                                <button class="btn yellow-btn">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-alphabet mb-55">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-title text-left mb-0">
                            <h4>Find Out More :</h4>
                            <span>Browse Alphabetically :</span>
                            <span><a href="#">A</a></span>
                            <span><a href="#">B</a></span>
                            <span><a href="#">C</a></span>
                            <span><a href="#">D</a></span>
                            <span><a href="#">E</a></span>
                            <span><a href="#">F</a></span>
                            <span><a href="#">G</a></span>
                            <span><a href="#">H</a></span>
                            <span><a href="#">I</a></span>
                            <span><a href="#">J</a></span>
                            <span><a href="#">K</a></span>
                            <span><a href="#">L</a></span>
                            <span><a href="#">M</a></span>
                            <span><a href="#">N</a></span>
                            <span><a href="#">O</a></span>
                            <span><a href="#">P</a></span>
                            <span><a href="#">Q</a></span>
                            <span><a href="#">R</a></span>
                            <span><a href="#">S</a></span>
                            <span><a href="#">T</a></span>
                            <span><a href="#">U</a></span>
                            <span><a href="#">V</a></span>
                            <span><a href="#">W</a></span>
                            <span><a href="#">X</a></span>
                            <span><a href="#">Y</a></span>
                            <span><a href="#">Z</a></span>
                            <span><a href="#">0~9</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="footer-logo mb-30">
                            <a href="index.html"><img src="/static/default/img/logo/logo_black.png" alt=""></a>
                        </div>
                        <div class="footer-text mb-35">
                            <p>At MxxShop, we're your go-to for everything from fashion and electronics to home essentials. Revamp your style, upgrade appliances, or elevate your living space - we've got it all.</p>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Customer Service</h5>
                        </div>
                        <div class="fw-link">
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Product Recalls</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Quick Links</h5>
                        </div>
                        <div class="fw-link">
                            <ul>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Terms Of Use</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Store Pickup</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Customer Service</h5>
                        </div>
                        <div class="footer-contact">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i> W898 RTower Stat, Suite 56
                                    Brockland, CA 9622 United States</li>
                                <li><i class="fas fa-headphones"></i> 400-6308-119</li>
                                <li><i class="fas fa-envelope-open"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bdeec8cdcdd2cfc9fdd4d3dbd293fed2d0">[79678111@qq.com]</a></li>
                                <li><i class="fas fa-fax"></i>400-6308-119</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap copyright-style-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-text">
                        <p>Copyright © 2020 <a href="https://www.mxxshop.com">MxxShop</a> All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-none d-md-block">
                    <div class="payment-method-img text-right">
                        <img src="/static/default/img/images/card_img.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>